.menu__lista
{
    display: flex;/*alinha itens lado a lado*/

}

.menu__item
{
    list-style: none; /*remove decoração*/
}
/*zera margem no ultimo da lista*/
.menu__item:last-child .menu__link
{
    margin-right: 0;
}

.menu__link
{
    color: #808080;
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
}
/*texto especifico em negrito*/
.menu__link.ativo
{
    color: #333333;
    font-weight: bold;
}
/*sublinhado com mouse*/
.menu__link:hover
{
    text-decoration: underline;
}
